<style>
* {
  text-align: center;
}
</style>
<br>
<br>
<br>
<br>
<br>
<br>
<h1>Welcome to Humans of Seattle & Beyond</h1>

<h4>Where everyone's story is worth sharing</h4>
<br>
<%= image_tag("/../../../assets/photo_montage.jpg") %>
<br>
<br>
<br>
<button>
<p><%= link_to "Enter here", stories_path%> </p>
</button>