<h1> Peeps from Seattle & Beyond </h1>

<% @stories.each do |story| %>
    <%= link_to "#{story.subject} from #{@countries[story.country_id-1].name}", story_path(story) %><br><br>
<% end %>
<br>
<button>
<%= link_to "Write your own story", new_story_path%> 
</button>

<br>
<h3> Our writers </h3>
<% @writers.each do |writer| %>
    <%=  writer.name %><br>
<% end %>