// Place all the styles related to the stories controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

* {
    text-align: center;
  } 

  .create_update_buttons {
    font-family: 'Merriweather';
    font-weight: bold;
    letter-spacing: 3px;
    font-size: 14px;
    outline: 0px;
    position: relative;
    z-index: 1;
  }

  .story_content {
    padding-right: 3in;
}

textarea#styled {
	width: 600px;
	height: 120px;
	border: 3px solid #cccccc;
	padding: 5px;
	font-family: Tahoma, sans-serif;
	background-position: bottom right;
	background-repeat: no-repeat;
}

.category_banner {
  background-color: rgb(238, 228, 219);
  padding-top: 2mm;
  padding-bottom: 5mm;
  color: rgb(120, 52, 27);
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}

.left_column {
  float: left;
  width: 50%;
  padding: 10px;
}

.write_your_own_story {
  font-weight: bold;
}

